/node_modules
/public/storage
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
#.gitignore
machines/million-ru/virtualbox/action_set_name
machines/million-ru/virtualbox/box_meta
machines/million-ru/virtualbox/vagrant_cwd
rgloader/
.env.bak
.vagrant/
.vagrant/machines/million-ru/virtualbox/action_set_name
.vagrant/machines/million-ru/virtualbox/box_meta
.vagrant/machines/million-ru/virtualbox/vagrant_cwd
#config/image.php
database/DB_dump/
my_db_dump.sql
public/mylog.txt
public/packages/sleepingowl/ckeditor/
public/packages/sleepingowl/default/js/modules.js
public/packages/sleepingowl/default/js/vue.js
public/php/zohoContactCardController.php
resources/views/payment/pay_for_ad_old.blade.php
vagrant-halt.bat
vagrant-up.bat
docker/docker-compose.yml
docker/docker-compose-prod.yml
docker/docker-compose-local.yml
# IDE helper meta-files
/_ide_helper.php
/.phpstorm.meta.php
/_ide_helper_models.php
public/sitemap.xml
storage/app/public/pictures/
/storage/app/public/pictures/
